<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hai.store">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <activity
            android:name=".activity.MoreListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="store"
                    android:scheme="com.hai.store" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.DMActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notify.NotifyActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme" />
        <activity
            android:name=".view.WifiADActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyle" />
        <activity
            android:name=".view.WifiOneADActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyle" />
        <activity
            android:name=".view.WifiTipsActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyle" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/search_style" />

        <service
            android:name=".notify.NotifyAppServer"
            android:exported="true" />
        <service
            android:name=".keepalive.GrayService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".keepalive.GrayService$GrayInnerService" />
        <service
            android:name=".keepalive.jss.JobSchedulerService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":push" />
        <service android:name=".keepalive.jss.PulseService" />

        <receiver android:name=".broadcast.WifiReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.TestActivity"></activity>
    </application>

</manifest>